@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("background.jpeg");
}

html {
    height: 100%;
}

main {
    flex: 1;
}

.footer {
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #171717!important;
}

.font-type {
    font-family: 'Work Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.padding-image {
    padding: 1.5rem
}

.rounded-top-left {
    padding: 10px;
    border-top-left-radius: 55px;
}

.rounded-bottom-right {
    padding: 10px;
    border-bottom-right-radius: 55px;
}